{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set New Password | Dan Aleko</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="wrapper">
    <form method="post">
      {% csrf_token %}
      <h1>Set New Password</h1>
      <div class="input-box">
        <input type="password" name="new_password1" placeholder="New password" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="input-box">
        <input type="password" name="new_password2" placeholder="Confirm new password" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <button type="submit" class="btn">Set Password</button>
    </form>
  </div>
</body>
</html>

{% endblock %}
